<header>
    <nav class="navbar navbar-default header">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<i class="fa fa-bars fa-2x" aria-hidden="true"></i>
				</button>
                <a class="navbar-brand" href="{{'/'' | prepend:site.baseurl}}">Kostya's Tech Blog</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse" role="search" aria-label="Search">
                <form class="navbar-form navbar-right searchbox">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </div>
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                </form>
            </div>
        </div>
    </nav>
</header>