

.post {
    $p: &;
    position: relative;
    padding: 0 0 0.5rem 2rem;
    margin-bottom: 80px;
    &-full:before {
        @include massive-vertical-border-common(10em);
    }
    &-preview:before {
        @include massive-vertical-border-common(100%);
    }
    & &-header {
        margin-bottom: 15px;
        padding-bottom: 5px;
        border-bottom: $horizontal-separating-border;
        & #{$p}-title {
            line-height: 20px;
            font-size: 20px;
            margin: 15px 0 10px;
            a {
                text-decoration: none;
                font-weight: bold;
            }
        }
        & #{$p}-info {
            font-size: 13px;
            a {
                color: $post-info-tag-color;
            }
            & #{$p}-tag {
                padding: 0rem 0.5rem;
            }
        }
    }
    & &-body {
        h1 {
            clear: left;
        }
        img {
            @include img-responsive;
            @include center-block;
            margin-top: 1em;
            margin-bottom: 1em; 
        }
        .table30 {
           @extend .table;
           @extend .table-bordered;
           width:30%;
           text-align: center;
           margin: 2em auto !important;
           float: none !important;
        }
        .post-image{
            float:left;
            vertical-align: middle;
            width:128px;
            height:128px;
            margin-top:0.1em;
            margin-right:0.5em;
            margin-bottom:0.5em;
        }
        .btn-next {
            font-size: 0.8em;
            vertical-align: middle;
            padding: 0 1%;
        }
    }
}