  .global-btn-top {
    background: $navbar-default-bg;
    -webkit-transition: background-color 0.3s linear;
    -moz-transition: background-color 0.3s linear;
      -o-transition: background-color 0.3s linear;
         transition: background-color 0.3s linear;

    color: white;
    bottom: 9%;
    cursor: pointer;
    display: none;
    position: fixed;
    line-height: 40px;
    text-align: center;
    width: 40px;
    right: 40px;
    z-index: 999;
    font-size: 18px;
    opacity: .5;
  }
  .global-btn-top:hover {
    background: $navbar-default-bg;
    opacity: .8;
  }